body {
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #f8f8f8;
    padding: 1em;
    text-align: center;
}


.trainning {
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.section {
    flex: 1;
    min-width: 300px;
    max-height: 1000px;
    overflow: auto;
    padding: 1em;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50; /* Green color */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.unloadbutton {
    float: none;
}

input.searchInput {
    padding: 8px;
    border: 2px solid #4CAF50; /* Green border */
    border-radius: 3px;
    flex-grow: 1;  /* Take up available space between buttons */
    margin: 0 10px; /* Margin to space it from the buttons */
}

/* Override default blue border on focus */
input.searchInput:focus {
    outline: none; /* Remove default blue outline */
    border: 2px solid #4CAF50; /* Keep the green border */
}





form {
    margin-top: 20px;
}

form label {
    display: block;
    margin: 5px 0;
}

form input, form textarea, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}



/* Dialog Box Styling */
.dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.dialog-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dialog-content p {
    margin-bottom: 20px;
}

.dialog-content button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.dialog-content button:hover {
    background-color: #45a049;
}

