body {
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #f8f8f8;
    padding: 1em;
    text-align: center;
}


.trainning {
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    font-weight:bolder;
  
    

}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.section {
    flex: 1;
    min-width: 300px;
    max-height: 1000px;
    overflow: auto;

    padding: 1em;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50; /* Green color */
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.unloadbutton{
    margin-left:50%
}
.unloadbuttone{
    margin-left:33.2%
}


form {
    margin-top: 20px;
}

form label {
    display: block;
    margin: 5px 0;
}

form input, form textarea, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}




.dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.dialog-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dialog-content p {
    margin-bottom: 20px;
}

.dialog-content button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.dialog-content button:hover {
    background-color: #45a049;
}
